.about {
  width: 100%;
  height: 100vh;
  padding: 2.375rem; //38px

  @include breakpoint-up(medium) {
    padding: 2.875rem; //46px
  }

  h2 {
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    color: $primary;

    span {
      display: block;
      height: 1.75rem; //28px
      width: 0.25rem; //4px
      background-color: $white;
      margin-right: 1.75rem; //28px
    }
  }

  &-container {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;

    .about-flex {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 3.5rem; //56px
      max-width: 61.1875rem; //979px

      @include breakpoint-up(medium) {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 4.25rem; //68px
      }

      .left {
        display: flex;
        justify-content: right;
        align-items: center;

        .image {
          width: 288px;
          height: 304px;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          @include breakpoint-up(medium) {
            justify-content: right;
          }

          img {
            width: 200px;
            height: 240px;
            background-color: $white;
            position: relative;
            z-index: 1;
          }

          span {
            width: 200px;
            height: 224px;
            position: absolute;
            left: 0;
            bottom: 0;
            border: 2px dashed #00cc8f;

            @include breakpoint-up(medium) {
              left: 3rem; //48px
            }
          }
        }
      }
      .right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        .info {
          width: 100%;
        }
        .tech {
          width: 100%;

          .tech-list {
            width: 100%;
            display: flex;

            .list-left {
              margin-right: 44px;

              .skills {
                display: flex;
                align-items: center;
                column-gap: 0.875rem; //14px

                p {
                  margin: 0;
                }
              }
            }
            .list-right {
              .skills {
                display: flex;
                align-items: center;
                column-gap: 0.875rem; //14px

                p {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
