.projects {
  width: 100%;
  background-color: #0000;
  padding: 2.375rem; //38px
  overflow: hidden;

  @include breakpoint-up(medium) {
    padding: 2.875rem; //46px
  }

  h2 {
    margin-top: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    color: $primary;

    span {
      display: block;
      height: 1.75rem; //28px
      width: 0.25rem; //4px
      background-color: $white;
      margin-right: 1.75rem; //28px
    }
  }

  .projects-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem; //24px
    margin-top: 5.5rem; //88rem
    margin-bottom: 3.625rem; //58px

    @include breakpoint-up(large) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 1.5rem; //24px
    }

    .item {
      width: 284px;
      height: 389px;
      box-shadow: 0 0 0.1875rem #000;
      background-color: $white;
      overflow: hidden;

      .content {
        width: 100%;
        height: 186px; //186px
        .image_landbank {
          object-fit: cover;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .image-dental {
          height: 11.625rem; //186px
          img {
            width: 100%;
            height: 100%;
          }
        }
        .image-portfolio {
          height: 11.625rem; //186px
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .description {
        padding: 26px 1.5rem;

        .tools {
          width: 100%;
          span {
            font-size: 10px; //10px
            color: $white;
            letter-spacing: 1px; //1px
            background-color: $black;
            padding: 4px 8px; //6px, 10px
            border-radius: 0.25rem; //4px

            &:not(:last-child) {
              margin-right: 0.25rem; //4px
            }
          }
        }
        h3 {
          font-size: $s-h3;
          text-transform: capitalize;
          margin-bottom: 0;

          @include breakpoint-up(medium) {
            font-size: $l-h3;
          }
        }
        p {
          font-size: 0.75rem; //12px
          margin-top: 0;
          margin-bottom: 1.5rem; //24px
        }

        .dc {
          margin-top: 0.75rem; //12px
          a {
            color: $black;
            padding: 0.375rem 0.5rem; //6px, 8px
            background-color: $white;
            box-shadow: 0 0 0.1875rem hsl(0, 0%, 54%); //3px
            border-radius: 0.25rem; //4px
            text-transform: uppercase;
            &:not(:last-child) {
              margin-right: 0.375rem; //6px
            }
          }
        }
      }
    }
  }
}
