//colors
$bg: hsl(173, 95%, 26%);
$primary: hsl(162, 100%, 40%);
$black: rgb(54, 54, 54);
$white: hsl(0, 0%, 96%);
$active: hsl(0, 0%, 90%);

//font
$poppins: "Poppins", sans-serif;
$opensans: "Open Sans", sans-serif;

//small-medium screen
$s-text: 0.875rem; //12px
$s-logo: 1.25rem; //20px
$s-h1: 1.75rem; //28px
$s-h2: 1.25rem; //20px
$s-h3: 1.125rem; //18px

//large screen
$l-text: 1rem; //14px
$l-logo: 1.5rem; //24px
$l-h1: 2.375rem; //38px
$l-h2: 1.5rem; //24px
$l-h3: 1.25rem; //20px
